<div class="container import-container">
	<div class="import-content">

		<nav class="header-content">
			<h4 class="title">Importações</h4>

			<button mat-raised-button color="accent" (click)="openModalImportarArquivo()">Importar Excel</button>
        </nav>
        
		<table>
			<thead>
				<tr>
					<th></th>
					<th class="text-left">Nome Produto</th>
					<th class="text-left">Data Entrega</th>
					<th class="text-left">Quantidade</th>
					<th class="text-right">Valor</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor="let import of importsL">
					<td width="4%" id="icon-col">{{import.id}}</td>
					<td class="text-left">{{import.nomeProduto}}</td>
					<td class="text-left">
						{{import.dataEntrega | date:'dd/MM/yyyy'}}
					</td>
					<td class="text-left">{{import.quantidade}}</td>
					<td width="16%" class="text-right">
						{{import.valorUnitario | currency:'BRL':true}}
					</td>
					<td class="text-right">
						<button 
							mat-raised-button 
							matTooltip="Visualizar Iportação"
							(click)="openModalImportacao(import.id)">
							<mat-icon color="primary">remove_red_eye</mat-icon>
						</button>
					</td>
				</tr>
			</tbody>

			<tfoot>
				<th class="text-left">Total</th>
				<th></th>
				<th></th>
				<th></th>
				<th class="text-right">
					{{valorTotal | currency:'BRL':true}}
				</th>
				<th></th>
			</tfoot>
		</table>
	</div>
</div>
