
$bg-header: #ebebeb; 
$header-height: 60px; 
$padding-horizontal-header: 8%;

$bg-side-menu: #363636;

$border-radius: 2%;
$border-radius-button: 4px;

$color-primary: #4CAF50;
$color-secondary: #a1a1a1;
